<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Peg4d Editor"
            extensions="peg,p4d"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.peg4d.editorplugin.editors.Peg4dEditor"
            id="jp.ac.ynu.peg4deditorplugin.editors.Peg4dEditor">
      </editor>
   </extension>
   
    <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.peg4d.editorplugin.editors.PegConsolePatternMatcher"
            id="jp.ac.ynu.peg4deditorplugin.editors.PegConsolePatternMatcher"
            regex="\(.*:[0-9]*\)">
            <enablement> </enablement>
      </consolePatternMatchListener>
   </extension> 
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="peg4d-editor-plugin.context"
            name="Peg4d Editor context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="peg4d-editor-plugin.jumplink-command"
            name="Peg4d open declaration">
      </command>
   </extension>
   <extension
        point="org.eclipse.ui.commands">
     <category
           name="Peg4d Editor command"
           id="peg4d-editor-plugin.category">
     </category>
     <command
           categoryId="peg4d-editor-plugin.category"
           id="peg4d-editor-plugin.jumplink-command"
           name="Peg4d open declaration">
     </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.peg4d.editorplugin.editors.Peg4dHyperlinkHandler"
            commandId="peg4d-editor-plugin.jumplink-command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="peg4d-editor-plugin.jumplink-command"
            contextId="peg4d-editor-plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>

</plugin>
