<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Peg4d Editor"
            extensions="p4d,peg"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.ac.ynu.peg4deditorplugin.editors.Peg4dEditor"
            id="jp.ac.ynu.peg4deditorplugin.editors.Peg4dEditor">
      </editor>
   </extension>

</plugin>
