<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Peg4d Editor"
            extensions="peg,p4d"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.ac.ynu.peg4deditorplugin.editors.Peg4dEditor"
            id="jp.ac.ynu.peg4deditorplugin.editors.Peg4dEditor">
      </editor>
   </extension>
   
    <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="jp.ac.ynu.peg4deditorplugin.editors.PegConsolePatternMatcher"
            id="jp.ac.ynu.peg4deditorplugin.editors.PegConsolePatternMatcher"
            regex="\(.*:[0-9]*\)">
            <enablement> </enablement>
      </consolePatternMatchListener>
   </extension> 

</plugin>
